<!doctype html>
<html ng-app="LunchCheck" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js'></script>

  <!-- <script src="angular.min.js"></script> -->
    <script src="/javascript/app.js"></script>
  <title>Lunch Checker</title>

  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
  #lunch-menu{
    width: 50%;
    display: inline;
    margin-right: 20px;
  }
  #note{
    color: red;
  }
#check_btn{
   background-color: #ffe9ec;
}
  @media(max-width:767px){
    #note{
  margin-top: 10px;
    display: block;
    }

  }

  </style>
</head>

<body>
<div ng-controller="LunchCheckController" class="container">

  <h1>Lunch Checker</h1>
  <div class="form-group">
<input type="text" ng-model="menu" id="lunch-menu" placeholder="List comma
separated dishes you usually have for lunch" class="form-control">
<span id="note"> * I do not consider empty items like ", ,"</span>
</div>
<div class="form-group">
<button class="btn btn-default" id="check_btn" ng-click="lunch_checker()">Check if too much</button>
</div>
<div ng-model="message"  class="form-group message">
{{message}}
</div>

</div>
</body>
</html>
