body {
    color: black;  
	font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
	border-radius: 0;
	border-color: black;
	border-width: 3px;
	background-color: grey;	
}

#logo-img {
	background: url('images/sushi_128.png') no-repeat;
	width: 128px;
	height: 128px;
	margin: 10px 15px 10px 20px;
}
.navbar-brand{
	padding-top: 35px;
}

.navbar-brand h1{
font-family: 'Lora', serif;
color: black;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
/*margin-top: 0;
margin-bottom: 0;
line-height: .75;*/

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
/*
.navbar-default .navbar-nav>li>a {
color: black;

}*/

#nav-list a{
	color: black;
	text-align: center;
	background-color: white;

}

#nav-list a:hover {
	/*color: yellow;*/
	background-color: pink;
}


@media (max-width: 991px){
	.navbar-brand h1{
	
		vertical-align: middle;
		margin: 0px;
		/*padding: 0px;*/
	}
	.navbar-brand{
		padding-top: 12px;
	}
	
}

@media (max-width:768px) {
	.navbar-brand h1{
		vertical-align: middle;
		
	}
	.navbar-brand{
		padding-top: 20px;
		height: 66px;
		/*padding-top: 0px;*/
		/*margin-top: 0px;*/
	}
	
}

.navbar-collapse{
	padding: 0px;
	border:0px;
	/*border-color: blue;*/
	/*border-top:0;*/
	/*border-bottom: 0;*/
}

#collapsable-nav{
	background-color: grey;
	

}

#navbar-header{
	border-bottom: 3px;
	border-radius: 0;
	/*border-color: black;
	border-width: 3px;*/
}

.navbar-toggle{
	background-color: pink;
}

#nav-list {
	margin: 0;
	/*border-bottom: 2px;*/
}
.divider {
  height: 3px;
  color: black;

}

h1{
	font-family: 'Lemonada', cursive;
}

#paragraph{
	font-weight: bold;
}

#text{
	margin: 20px 50px 20px 50px;
	background-color: grey;
	padding: 30px;
	height: 1000px;
	overflow: scroll;
}
#last_heading{
	margin-top: 0px;
    font-family: 'Lora', serif;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	}
